/* planes.module.css */
.container {
    width: 100%; 
    margin: 0 auto; 
    font-family: 'Poppins', sans-serif;
}

.planesContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 10px 0;
}

.plan {
    flex: 1; 
    background: rgba(44, 2, 107, 0);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    margin: 15px; 
}

@media (max-width: 768px) {
    .planesContainer {
        justify-content: center;
    }
    .plan {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .plan {
        flex: 1 1 calc(100% - 20px); 
        padding: 15px; 
    }
}

.planTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.planPrice {
    font-size: 48px;
    font-weight: 800; 
    margin-bottom: 20px;
    text-align: center;
}

.planFeatures {
    margin-bottom: 20px;
    width: 100%;
}

.planFeatures li {
    margin-bottom: 10px;
}

.ctaButton {
    background: linear-gradient(to right, #b26ff4, #8418ff);
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: auto;
    text-align: center;
}

.ctaButton:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.planBasico {
    box-shadow: 1px 1px 15px #3802ac;
}

.planStandar {
    box-shadow: 1px 1px 25px #0edb44; 
}

.planAvanzado {
    box-shadow: 1px 1px 35px #ff5dc6;
}

.planPaquete {
    box-shadow: 1px 1px 15px #4ad2f6;
}