/* Base styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fondo {
  background-color: #1e0642;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}

/* IMAGENES 3D */
.image-container {
  position: relative;
  width: 100%;
  max-width: 340px;
  height: 300px;
  margin: 0 auto;
}

.image-container img {
  position: absolute;
  padding-left: 50px;
  max-width: 100%;
  height: auto;
  opacity: 0;
}

.image-container img.fade-in {
  animation: fadeIn 0.6s ease forwards;
}
/* ANIMACION */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#img1, #img2, #img3 {
  position: absolute;
  transition: opacity 2s ease;
}

#img3 {
  width: 100%;
  max-width: 500px;
}

#img1 {
  transform: translate(35%, -10%);
}

#img2 {
  transform: translate(-5%, 55%);
}

#img3 {
  transform: translate(35%, 135%);
}




/* MAIN CONTAINER DIV */
main {
  padding: 20px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 19%;
  padding-right: 5%;
}

.main-content h1 {
  font-size: clamp(40px, 8vw, 110px) !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 0 !important;
  line-height: 1.1;
}

/* parrafo */
.p {
  font-family: 'AnkaCoder', monospace;
  font-size: clamp(20px, 4vw, 45px);
  padding: 15px 0 50px;
  display: inline-block;
}

.purple { color: #6c8af1; }
.cyan { color: #4ad2f6; }
.green { color: #1cff00; }
.pink { color: #f645ff; }

/* CTA BUTTON */
.cta-button {
  display: inline-flex;
  align-items: center;
  background: linear-gradient(to right, #8418ff, #4ad2f6);
  color: white;
  padding: 10px 22px;
  border-radius: 50px;
  text-decoration: none;
  font-size: clamp(18px, 2.5vw, 27px);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  width: fit-content;
  transition: background-position 2.5s ease;
  background-size: 500% 500%;
}

.cta-button:hover {
  background: linear-gradient(to right, #4ad2f6, #8418ff);
  background-position: right center;
  transform: scale(1.05);
  transition: transform 1.5s;
}

.cta-button img {
  width: clamp(20px, 3vw, 35px);
  margin-left: 20px;
}

/* imagen en la esquina */
.corner-image {
  position: absolute;
  top: 485px;
  right: 0px;
  width: 450px;
  max-width: 500px;
  z-index: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

.corner-image img {
  max-width: 100%;
  height: auto;
}

.corner-image.show {
  transform: translateY(0);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .main-content {
    padding-left: 3%;
    padding-top: 40px;
  }
  
  .main-content h1 span {
    font-size: 90px;
  }

  .main-content span {
    font-size: 38px;
  }
  
  #img1 {
    transform: translate(30%, -1%);
    max-width: 240px;
  }

  #img2 {
    transform: translate(-20%, 70%);
    max-width: 220px;
  }

  #img3 {
    transform: translate(25%, 180%);
    max-width: 240px;
  }
  
  .corner-image {
    position: absolute;
    top: 675px;
    right: 20px;
    width: 340px;
    max-width: 500px;
    z-index: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 25px;
  }
  
  .main-content {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 60px;
  }
  
  .main-content h1 span {
    font-size: 80px;
  }

  .main-content span {
    font-size: 34px;
  }
  
  .image-container {
    height: 250px;
  }
  
  #img1, #img2, #img3 {
    transform: translate(1, 0);
  }

  #img1 {
    transform: translate(-53%, -10%);
    max-width: 260px;
  }

  #img2 {
    transform: translate(12%, 15%);
    max-width: 240px;
  }

  #img3 {
    transform: translate(70%, 75%);
    max-width: 250px;
  }

  .cta-button {
    padding: 10px 22px;
  }
  .corner-image {
    position: absolute;
    top: 800px;
    right: 145px;
    width: 320px;
    max-width: 500px;
    z-index: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
  }
}

@media screen and (max-width: 480px) {
  .main-content {
    text-align: center;
    padding-top: 40px;
    align-items: center;
  }
  
  .main-content h1 span {
    font-size: 60px;
  }

  .main-content span {
    font-size: 23px;
  }

  .main-content .cta-button {
    margin-top: 20px;
  }

  .image-container {
    height: 200px;
  }
  
  #img1 {
    transform: translate(-25%, -10%);
    max-width: 200px;
  }

  #img2 {
    transform: translate(35%, 25%);
    max-width: 185px;
  }

  #img3 {
    transform: translate(83%, 99%);
    max-width: 190px;
  }
  
  .corner-image {
    position: absolute;
    top: 720px;
    right: 55px;
    width: 260px;
    max-width: 500px;
    z-index: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
  }
    
  .cta-button {
    padding: 8px 16px;
  }
}